extends ../layout/main

block variables
  - const title = 'Webpack + Pug';
  - const description = 'description for Webpack + Pug';
  - const pageClass = 'index-page';


block content
  section
    .container
      h1 Jade - node template engine
  section
    .container
      h1 Jade - node template engine
  section
    .container
      h1 Jade - node template engine